.button {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 2rem 4rem;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	font: normal 1.8rem $font_1;
	border: 2px solid $red;
	border-radius: 4px;
	color: $red;
	background: transparent;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: none;
	user-select: none;
	touch-action: manipulation;
	-webkit-appearance: button;
	transition: all 0.3s ease;

	&--full {
		width: 100%;
	}

	&:focus,
	&:hover,
	&:active {
		text-decoration: none;
		outline: none;
	}
}
