.button {
	position: relative;
	display: block;
	margin: 0;
	padding: 2rem 4rem;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	font: normal 1.8rem $font_1;
	border: 2px solid $red;
	border-radius: 4px;
	color: $red;
	background: transparent;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: none;
	user-select: none;
	touch-action: manipulation;
	-webkit-appearance: button;
	transition: all 0.3s ease;

	&--full {
		width: 100%;
	}

	&--gray {
		padding: 2rem 2.7rem;
		font-size: 2.4rem;
		font-weight: bold;
		color: #fff;
		background-color: $gray_darker;
		border: none;
	}

	&:focus,
	&:hover,
	&:active {
		text-decoration: none;
		outline: none;
	}

	@media (max-width: $desktop) {
		font-size: 20px;
	}
	@media (max-width: $tablet) {
		margin: 0 auto;
	}
	@media (max-width: $mobile_full) {
		width: 100%;
		margin: 0;
	}
}
