.contacts {
	position: relative;
	width: 100%;
	min-height: 450px;
	background: url("../img/map.jpg") center no-repeat;
  background-size: cover;

	@media (max-width: $tablet_full) {
		background-position-x: 47%;
	}
	@media (max-width: $tablet) {
		min-height: 700px;
		background-position: 60% 0;
		background-size: 1900px;
	}
}

.contacts__list {
	position: absolute;
	top: 0;
	bottom: 0;
	left: auto;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 35px 30px;
	background-color: #fff;

	@media (max-width: $tablet) {
		top: auto;
		left: 0;
		width: 100%;
		padding: 30px 18px;
	}
}

// contacts row`s
.contacts__item {
	position: relative;
	padding-left: 50px;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&:nth-child(2) {
		@media (max-width: $tablet) {
			margin-bottom: 35px;
		}
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background: center no-repeat;
		background-size: 100%;
	}

	&--adress {
		&:before {
			width: 35px;
			height: 50px;
			background-image: url("../img/icons/map-ico1.jpg");
		}

		span {
			font-size: 18px;
			line-height: 26px;
			color: #9499a1;
		}
	}

	&--phone {
		&:before {
			left: 10px;
			width: 26px;
			height: 36px;
			background-image: url("../img/icons/phone.svg");
			@media (max-width: $tablet) {
				top: -5px;
				width: 18px;
			}
		}

		a {
			font: normal 22px $font_2;

			&:hover,
			&:active {
				color: $red;
			}
			@media (max-width: $tablet) {
				font-size: 18px;
			}
		}
	}

	&--mail {
		&:before {
			left: 10px;
			width: 26px;
			height: 18px;
			background-image: url("../img/icons/mail.svg");
		}

		a {
			font-size: 18px;
			color: $red;

			&:hover,
			&:active {
				color: #000;
			}
			@media (max-width: $tablet) {
				font-size: 16px;
			}
		}
	}

	@media (max-width: $tablet) {
		font-size: 16px;
		line-height: 25px;
	}
}

.contacts__title {
	font: normal 28px $font_2;
	color: #000;

	@media (max-width: $tablet) {
		font-size: 22px;
	}
}
