// header
.header {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: #fff;
}

.header__row {
	display: flex;
	align-items: center;
	height: 100%;
}

// logo
.header__logo {
	position: relative;
	width: 138px;
	height: 225px;
	margin-right: 20px;
	padding-top: 62px;

	img {
		@include center;
		top: 67%;
		left: 47%;
		min-width: 105%;
		min-height: auto;
		height: auto;
	}
}

// main menu part
.header__menu-row {
	padding: 35px 0;
}

.header__menu-list {
	display: flex;
}

.header__menu-item {

	&:not(:last-child) {
		a {
			padding-right: 30px;
		}
	}
}

.header__menu-link {
	font-size: 1.8rem;
	color: #000;
}

// right side
.header__aside {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header__phone-link {
	position: relative;
	margin-right: 25px;
	padding-left: 25px;
	padding-bottom: 10px;
	font: normal 2.7rem $font_2;
	color: $gray;

	&:before {
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		width: 15px;
		height: 25px;
		background: url("../img/icons/phone.svg") center no-repeat;
		background-size: contain;
	}
}
