// background
.modal-bg {
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: all .5s ease;
}

// modal window
.modal {
	z-index: 1000;
	position: fixed;
	top: 0;
	right: 0;
	display: none;
	width: 100%;
	max-width: 600px;
	height: 100%;
	max-height: 100%;
	margin-right: 5%;
	padding: 0;
	background: #fff;
	border: none;
	box-shadow: 0.4rem 0.4rem 0.5rem $color_shadow;
	outline: 0;
	overflow: hidden;
	visibility: hidden;
	transition: all .5s ease;

	// states
	&--show {
		display: block;
		visibility: visible !important;
		animation: bounce 0.6s;
	}
	&--call {
		height: 45rem;
	}
	&--sucsess {
		height: 20rem;
	}
	@media (max-width: $desktop) {
		margin-right: 0;
	}
}

.modal__close {
	z-index: 1;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 22px;
	height: 22px;
	padding: 0;
	font-size: 0;
	border: none;
	border-radius: 50%;
	background: url("../img/icons/close-red.svg") center no-repeat;
	transition: all 0.5s;

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		outline: none;
		transform: scale(1.1);
	}
}

.modal__guts {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px 50px;
	overflow: auto;
}

.modal__title {
	margin-bottom: 35px;
	font: 300 36px $font_1;
	line-height: 42px;
	color: #000;
}

// modal animation
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

// swiper gallery
.swiper-gallery {
	position: relative;
	padding: 0 135px;
	overflow: hidden;

	// rows
	.gallery-top {
		height: 500px;
		margin-bottom: 50px;
		overflow: hidden;
	}

	.gallery-thumbs {
		height: 90px;
		// overflow: hidden;

		.swiper-wrapper {
			margin: 0 30px;
		}

		.swiper-slide {
			max-width: 110px;
			margin-right: 10px;
			overflow: hidden;
		}

		.swiper-button-next,
		.swiper-button-prev {
			top: auto;
			bottom: 30px;
			width: 20px;
			height: 32px;
		}
	}

	// slide
	.swiper-slide img {
		max-width: 100%;
	}

	// buttons
	.swiper-button-next {
		margin-top: -100px;
		right: 0;
	}
	.swiper-button-prev {
		margin-top: -100px;
		left: 0;
		margin-left: 0;
	}
}
