html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  min-height: 100%;
  font-size: 9px; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  font: normal 1.7rem "Raleway", "Arial", sans-serif;
  line-height: 2.5rem;
  color: #464646;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dd, dl, dt {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:active, a:focus {
    color: #bcbbc3; }

.page-wrapper {
  position: relative;
  min-width: 300px;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0; }

.title {
  margin: 0;
  font: 300 40px "Raleway", "Arial", sans-serif;
  color: #000; }
  .title--white {
    color: #fff; }

.sub-title {
  font: 300 3rem "Raleway", "Arial", sans-serif;
  line-height: 3rem;
  color: #fff; }

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .header--fixed {
    height: 75px;
    -webkit-box-shadow: 0px 3px 3px #cacaca;
            box-shadow: 0px 3px 3px #cacaca; }
    .header--fixed .button {
      padding: 15px 27px; }
    .header--fixed .header__logo {
      width: 60px;
      height: auto;
      padding-top: 0; }
      .header--fixed .header__logo img {
        max-width: 100%;
        height: auto; }
    .header--fixed .header__menu-row {
      margin-top: 0; }

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.header__logo {
  position: relative;
  width: 138px;
  height: 225px;
  margin-right: 20px;
  padding-top: 62px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .header__logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    top: 67%;
    left: 47%;
    min-width: 105%;
    min-height: auto;
    height: auto; }

.header__menu-row {
  padding: 0; }

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__menu-item .button {
  display: none;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 4px; }

.header__menu-item:not(:last-child) a {
  padding-right: 30px; }

.header__menu-link {
  font-size: 1.8rem;
  color: #000; }

.header__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }

.header__phone-link {
  position: relative;
  margin: 0 25px;
  padding-left: 25px;
  padding-bottom: 10px;
  font: normal 2.7rem "Open Sans", "Arial", sans-serif;
  color: #999999; }
  .header__phone-link:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 15px;
    height: 25px;
    background: url("../img/icons/phone.svg") center no-repeat;
    background-size: contain; }

.menu {
  position: absolute;
  top: 0;
  right: 0; }

.menu__trigger {
  z-index: 210;
  position: absolute;
  top: 30px;
  right: 20px;
  display: none;
  height: 24px;
  width: 20px;
  text-transform: uppercase;
  color: transparent;
  cursor: pointer; }
  .menu__trigger:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #6a6f76;
    -webkit-transform: translate(0, -1rem);
        -ms-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .menu__trigger:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -4px;
    background: #6a6f76;
    -webkit-transform: translate(0, 1rem);
        -ms-transform: translate(0, 1rem);
            transform: translate(0, 1rem);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.menu__trigger.active__mod:before {
  margin-top: -4px;
  -webkit-transform: rotate(45deg) translate(0, 0);
      -ms-transform: rotate(45deg) translate(0, 0);
          transform: rotate(45deg) translate(0, 0); }

.menu__trigger.active__mod:after {
  -webkit-transform: rotate(-45deg) translate(0, 0);
      -ms-transform: rotate(-45deg) translate(0, 0);
          transform: rotate(-45deg) translate(0, 0); }

.menu__trigger-decor {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background: #6a6f76;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.active__mod .menu__trigger-decor {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0); }

.swiper {
  position: relative;
  padding-top: 100px;
  background: url("../img/slider-bg.jpg") center no-repeat;
  background-size: cover; }

.swiper-container {
  position: static;
  width: 100%;
  height: 690px; }

.swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.swiper-title {
  margin-bottom: 40px;
  padding: 18px 40px;
  text-align: center;
  font: 200 9rem "Raleway", "Arial", sans-serif;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 4px; }

.swiper-button-next,
.swiper-button-prev {
  width: 46px;
  height: 100px;
  margin-top: -18px;
  background-size: 190%; }

.swiper-button-prev {
  background-image: url("../img/icons/arrow-prev.svg");
  left: auto;
  margin-left: -70px; }

.swiper-button-next {
  background-image: url("../img/icons/arrow-next.svg");
  right: auto;
  margin-left: 1225px; }

.promo {
  padding: 110px 0 90px; }

.promo__row {
  margin-bottom: 50px; }
  .promo__row::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both; }
  .promo__row--center {
    width: 67.5%;
    margin: 0 auto;
    padding: 0 10px; }

.promo__col {
  float: left;
  width: 46%;
  padding: 0 10px; }
  .promo__col p:not(:last-child) {
    margin-bottom: 10px; }

.promo__title {
  float: left;
  width: 33.333%;
  margin-right: 35px; }

.promo__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 35px;
  border-top: 1px solid #cacaca; }
  .promo__table-row:last-child {
    padding-bottom: 45px; }

.promo__table-col {
  padding: 0 0 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%; }
  .promo__table-col span {
    display: block;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: #999999; }
  .promo__table-col:first-child {
    padding: 0;
    min-width: 200px;
    font-size: 24px;
    line-height: 30px;
    color: #000; }

.listing {
  background: center no-repeat;
  background-size: cover;
  color: #b8c0c9; }
  .listing--top {
    background-image: url("../img/listing-top-bg.jpg"); }
  .listing--bottom {
    background-image: url("../img/listing-bottom-bg.jpg"); }

.listing__row {
  padding: 55px 0 65px 0; }
  .listing__row--title {
    padding: 65px 0 82px 0; }
    .listing__row--title .listing__col-l {
      min-height: auto;
      padding-left: 30px; }
  .listing__row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1); }
  .listing__row .container {
    position: relative; }
    .listing__row .container::after {
      content: "";
      display: table;
      line-height: 0;
      clear: both; }

.listing__col-l {
  position: relative;
  float: left;
  width: 33.333%;
  min-height: 250px;
  margin-right: 2.7%;
  text-align: right;
  color: #fff;
  overflow: hidden; }
  .listing__col-l img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%; }

.listing__col-r {
  float: left;
  width: 50%;
  padding: 0 10px; }

.listing__col-rf {
  float: left;
  width: 63%;
  padding: 0 10px; }

.listing__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 560px;
  height: 150px;
  padding: 25px 0 25px 20px;
  list-style: disc; }
  .listing__list li {
    width: 30%;
    margin-right: 25px; }

.listing__price {
  position: absolute;
  top: 55px;
  right: 0;
  width: 14%;
  padding: 0 12px;
  color: #fff; }
  .listing__price:before {
    content: "";
    position: absolute;
    top: -45px;
    left: -15px;
    width: 2px;
    height: 240px;
    background-color: #66666e; }

.reviews {
  position: relative;
  padding: 130px 120px 0; }

.reviews__list {
  width: 100%;
  overflow: hidden; }
  .reviews__list .swiper-button-next,
  .reviews__list .swiper-button-prev {
    margin-left: auto;
    margin-top: -135px; }
  .reviews__list .swiper-pagination {
    display: none; }
  .reviews__list .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #999999;
    opacity: 1; }
  .reviews__list .swiper-pagination-bullet-active {
    background: #999999; }
  .reviews__list .swiper-button-prev {
    left: 0;
    background-image: url("../img/icons/arrow-prev-gray.svg"); }
  .reviews__list .swiper-button-next {
    right: 0;
    background-image: url("../img/icons/arrow-next-gray.svg"); }

.reviews__item {
  position: relative;
  padding-bottom: 80px;
  width: 48%; }
  .reviews__item::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both; }
  .reviews__item:not(:last-child) {
    margin-right: 90px; }
  .reviews__item.swiper-slide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

.reviews__user {
  float: left;
  width: 35%; }

.reviews__user-img {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%; }
  .reviews__user-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%; }

.reviews__user-name {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 3.5rem;
  color: #8595ab; }

.reviews__user-info {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: #999999; }

.reviews__content {
  float: left;
  width: 65%;
  padding-left: 25px; }

.reviews__title {
  font-size: 2.4rem;
  color: #000; }

.reviews__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 25px; }
  .reviews__rate span {
    display: block;
    width: 17px;
    height: 17px;
    margin-right: 3px;
    background: url("../img/icons/star.svg") center no-repeat;
    background-size: contain; }
  .reviews__rate date {
    padding: 0 10px;
    font-size: 1.3rem;
    color: #999999; }

.reviews__text {
  max-height: 300px;
  padding-left: 5px;
  color: #5b5b5b;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden; }

.reviews__marker {
  position: absolute;
  left: calc(35% + 25px);
  bottom: 0; }

.reviews__more {
  padding-top: 70px;
  padding-bottom: 65px;
  text-align: center; }
  .reviews__more .sub-title {
    color: #000; }

.reviews__more-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0; }
  .reviews__more-list li:not(:last-child) {
    margin-right: 30px; }

.contacts {
  position: relative;
  width: 100%;
  min-height: 450px;
  background: url("../img/map.jpg") center no-repeat;
  background-size: cover; }

.contacts__list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  width: 400px;
  height: 300px;
  margin: auto;
  padding: 35px 30px;
  background-color: #fff; }

.contacts__item {
  position: relative;
  padding-left: 50px; }
  .contacts__item:not(:last-child) {
    margin-bottom: 20px; }
  .contacts__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: center no-repeat;
    background-size: 100%; }
  .contacts__item--adress:before {
    width: 35px;
    height: 50px;
    background-image: url("../img/icons/map-ico1.jpg"); }
  .contacts__item--adress span {
    font-size: 18px;
    line-height: 26px;
    color: #9499a1; }
  .contacts__item--phone:before {
    left: 10px;
    width: 26px;
    height: 36px;
    background-image: url("../img/icons/phone.svg"); }
  .contacts__item--phone a {
    font: normal 22px "Open Sans", "Arial", sans-serif; }
    .contacts__item--phone a:hover, .contacts__item--phone a:active {
      color: #ff5a5f; }
  .contacts__item--mail:before {
    left: 10px;
    width: 26px;
    height: 18px;
    background-image: url("../img/icons/mail.svg"); }
  .contacts__item--mail a {
    font-size: 18px;
    color: #ff5a5f; }
    .contacts__item--mail a:hover, .contacts__item--mail a:active {
      color: #000; }

.contacts__title {
  font: normal 28px "Open Sans", "Arial", sans-serif;
  color: #000; }

.footer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #292b34; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .footer .container p {
      font-size: 13px;
      color: #8595ab; }

.footer__share {
  margin-left: 60px;
  text-align: center; }
  .footer__share p {
    bottom: auto !important;
    padding-top: 0 !important;
    padding-bottom: 10px; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer__social li {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
    .footer__social li:not(:last-child) {
      margin-right: 30px; }

.footer__social-link {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0; }
  .footer__social-link svg {
    max-width: 100%;
    height: auto; }

.button {
  position: relative;
  display: block;
  margin: 0;
  padding: 2rem 4rem;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font: normal 1.8rem "Raleway", "Arial", sans-serif;
  border: 2px solid #ff5a5f;
  border-radius: 4px;
  color: #ff5a5f;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-appearance: button;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button--full {
    width: 100%; }
  .button--gray {
    padding: 2rem 2.7rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    background-color: #6a6f76;
    border: none; }
  .button:focus, .button:hover, .button:active {
    text-decoration: none;
    outline: none; }

.modal-bg {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  max-width: 60rem;
  height: 50rem;
  max-height: 100%;
  margin: auto;
  padding: 0;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0.4rem 0.4rem 0.5rem rgba(76, 76, 76, 0.75);
          box-shadow: 0.4rem 0.4rem 0.5rem rgba(76, 76, 76, 0.75);
  outline: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .modal--show {
    display: block;
    visibility: visible !important;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .modal--call {
    height: 45rem; }
  .modal--sucsess {
    height: 20rem; }

.modal__close {
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .modal__close:hover, .modal__close:active, .modal__close:focus {
    cursor: pointer;
    outline: none;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  overflow: auto; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  padding-left: 3rem;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font: normal 1.4rem "Raleway", "Arial", sans-serif;
  color: #323749;
  -webkit-box-shadow: 0 0 0 1px rgba(76, 76, 76, 0.75);
          box-shadow: 0 0 0 1px rgba(76, 76, 76, 0.75);
  border: 1px solid gainsboro;
  border-radius: 5px;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none; }

input[type="email"]:required:valid,
input[type="tel"]:required:valid,
input[type="text"]:required:valid,
textarea:required:valid {
  outline: none;
  border-color: green; }

/* placeholder`s */
input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #cacaca;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 0; }

input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
  border-color: #e1dede; }

textarea {
  height: auto;
  resize: none; }

.form {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem; }

.form__unit {
  position: relative;
  margin-bottom: 20px; }
  .form__unit > label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 14px;
    opacity: 0.3; }
  .form__unit > input[type="email"]:focus,
  .form__unit > input[type="tel"]:focus,
  .form__unit > input[type="text"]:focus {
    outline: 0;
    background-color: #fff; }
    .form__unit > input[type="email"]:focus + label,
    .form__unit > input[type="tel"]:focus + label,
    .form__unit > input[type="text"]:focus + label {
      opacity: 0; }
  .form__unit > input[type="email"]:valid,
  .form__unit > input[type="tel"]:valid,
  .form__unit > input[type="text"]:valid {
    background: #fff url("../img/icons/check.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 3px 10px; }
    .form__unit > input[type="email"]:valid + label,
    .form__unit > input[type="tel"]:valid + label,
    .form__unit > input[type="text"]:valid + label {
      opacity: 0; }
  .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
  .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) {
    background: pink; }
    .form__unit > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) + label,
    .form__unit > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label {
      opacity: 0; }
  .form__unit > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="tel"]:invalid:focus:not(:placeholder-shown) ~ .form__error,
  .form__unit > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .form__error {
    max-height: 20rem;
    padding: 1rem 2rem; }
  .form__unit > textarea:focus {
    outline: 0;
    background-color: #fff; }
    .form__unit > textarea:focus + label {
      opacity: 0; }
  .form__unit > textarea:not(:focus):not(:placeholder-shown) + label {
    opacity: 0; }

.form__error {
  display: block;
  width: 100%;
  max-height: 0;
  padding: 0;
  text-align: center;
  font: normal 1.4rem "Raleway", "Arial", sans-serif;
  color: red;
  background: transparent;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.form__submit {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

@media (min-width: 1200px) {
    html {
      font-size: 10px; } }

@media (max-width: 1200px) {
    .container {
      padding: 0 30px; }
    .header__logo {
      width: 100px;
      height: 160px; }
      .header__logo img {
        top: 65%;
        max-width: 125%; }
    .header__phone-link {
      padding-bottom: 0;
      font-size: 20px; }
      .header__phone-link:before {
        top: 2px; }
    .swiper {
      padding-top: 120px; }
    .swiper-container {
      height: 450px; }
    .swiper-title {
      margin-bottom: -40px;
      padding: 30px 40px;
      font-size: 45px;
      border-width: 2px; }
    .swiper-button-next,
    .swiper-button-prev {
      margin-top: 30px; }
    .promo {
      padding: 70px 30px 95px; }
      .promo__row--center {
        width: 83%;
        margin: 0 0 0 auto; }
    .promo__row {
      padding: 0; }
      .promo__row:not(:last-child) {
        margin-bottom: 110px; }
    .promo__col {
      width: 61%;
      font-size: 16px;
      line-height: 25px; }
      .promo__table-row:last-child {
        padding-bottom: 20px; }
    .promo__table-row {
      padding: 15px 0 60px 0; }
      .promo__table-col:first-child {
        min-width: auto; }
    .promo__table-col {
      padding: 0;
      -ms-flex-preferred-size: 21%;
          flex-basis: 21%; }
    .listing {
      background-size: 1300px; }
        .listing__row--title .listing__col-l {
          width: 34%;
          margin-right: 3%;
          padding-left: 0;
          padding-right: 12px;
          font-size: 32px; }
    .listing__row {
      padding: 65px 0 60px 0; }
      .listing__col-l img {
        max-width: 120%; }
    .listing__col-l {
      width: 34%;
      min-height: 160px;
      margin-right: 3%; }
    .listing__col-r {
      width: 63%;
      font-size: 16px;
      line-height: 25px; }
      .listing__price:before {
        left: 0;
        top: 0;
        height: 50px; }
    .listing__price {
      top: auto;
      left: 30px;
      bottom: 0;
      width: 185px;
      padding: 0 20px;
      font-size: 17px;
      line-height: 25px; }
    .reviews {
      padding: 70px 80px 30px; }
      .reviews__list .swiper-button-next,
      .reviews__list .swiper-button-prev {
        margin-top: -245px; }
    .reviews__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    .reviews__user {
      width: 100%;
      margin-top: 30px; }
    .reviews__user-img {
      float: left;
      margin-right: 20px; }
    .reviews__user-name {
      padding: 10px 0 0; }
    .reviews__content {
      width: 100%;
      height: 400px;
      padding: 0;
      font-size: 17px;
      line-height: 25px; }
    .reviews__rate {
      padding-top: 0; }
    .reviews__marker {
      left: 0; }
    .reviews__more {
      padding-top: 55px;
      padding-bottom: 35px; }
        .footer .container p {
          padding-top: 60px; }
      .footer .container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
    .footer__share {
      margin-left: 0; }
    .button {
      font-size: 20px; } }

@media (max-width: 480px) {
    .container {
      padding: 0 20px; }
    .listing__col-l {
      overflow: visible; }
    .button {
      width: 100%;
      margin: 0; } }

@media (max-width: 992px) {
    .title {
      font-size: 28px; }
    .sub-title {
      font-size: 28px; }
        .header--fixed .button {
          display: none; }
    .header {
      height: 120px; }
    .header__menu-row {
      margin-top: 32px;
      margin-right: 20px; }
    .header__aside {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contacts {
      background-position-x: 47%; } }

@media screen and (max-width: 992px) {
      .header--fixed {
        height: 90px; } }

@media (max-width: 767px) {
    .header {
      position: relative; }
  .header {
    height: 80px; }
    .header__logo img {
      max-width: 190%; }
    .header__aside {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .header__aside .button {
        display: none; }
    .header__phone-link {
      margin: 0 40px 0 0; }
      .header__phone-link:before {
        left: 10px; }
  .header__menu-row {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px 63px 30px 40px;
    background: #6a6f76;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header__menu-row .header__menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .header__menu-item .button {
    display: block;
    padding: 20px; }
  .header__menu-item:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid #848a92; }
  .header__menu-link {
    display: block;
    font-size: 18px;
    line-height: 48px;
    color: #fff; }
  body.menu__open .header__menu-row {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
  body.menu__open .menu__trigger:before,
  body.menu__open .menu__trigger:after {
    background: #fff; }
    .menu__trigger {
      display: block; }
    .swiper {
      padding-top: 0; }
    .swiper-container {
      height: 217px;
      padding: 0; }
    .swiper-title {
      margin-bottom: 18px;
      padding: 20px 3px;
      font-size: 26px; }
    .swiper-button-next,
    .swiper-button-prev {
      top: auto;
      bottom: 15px;
      width: 25px;
      height: 45px;
      margin-top: 0; }
    .swiper-button-prev {
      left: 50% !important;
      margin-left: -40px !important; }
    .swiper-button-next {
      right: 50% !important;
      margin-right: -40px !important; }
    .promo {
      padding-top: 30px;
      padding-bottom: 40px; }
      .promo__row--center {
        width: 100%;
        margin: 0; }
    .promo__row:not(:last-child) {
      margin-bottom: 45px; }
    .promo__col {
      float: none;
      width: 100%;
      padding: 0; }
    .promo__title {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 35px; }
  .promo__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca; }
      .promo__table-row:last-child {
        padding-bottom: 30px; }
    .promo__table-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 50%;
      padding: 25px 0 30px 0;
      border-top: none; }
      .promo__table-col:first-child {
        margin-bottom: 18px; }
    .promo__table-col {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none; }
    .listing {
      background-size: initial; }
        .listing__row--title .listing__col-l {
          width: 100%;
          margin: 0;
          margin-bottom: 20px;
          padding: 0; }
    .listing__row {
      padding: 40px 0 35px 0; }
      .listing__col-l img {
        max-width: 130%; }
    .listing__col-l {
      float: none;
      width: 100%;
      min-height: 195px;
      margin-bottom: 25px;
      text-align: left; }
    .listing__col-r {
      float: none;
      width: 100%;
      padding: 0; }
    .listing__col-rf {
      float: none;
      width: 100%;
      padding: 0; }
      .listing__list li {
        width: 50%; }
    .listing__list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 100%;
      height: 220px; }
    .listing__price {
      bottom: 16%;
      left: auto;
      right: 0;
      width: 155px;
      padding: 0 5px; }
    .reviews {
      background-color: #efefef; }
      .reviews__list .swiper-button-next,
      .reviews__list .swiper-button-prev {
        display: none; }
      .reviews__list .swiper-pagination {
        display: block;
        bottom: 50px; }
    .reviews__list {
      position: relative;
      padding: 60px 0 20px 0; }
    .reviews__marker {
      display: none; }
    .reviews__more {
      display: none; }
    .contacts {
      min-height: 700px;
      background-position: 60% 0;
      background-size: 1900px; }
    .contacts__list {
      top: auto;
      left: 0;
      width: 100%;
      padding: 30px 18px; }
    .contacts__item:nth-child(2) {
      margin-bottom: 35px; }
      .contacts__item--phone:before {
        top: -5px;
        width: 18px; }
      .contacts__item--phone a {
        font-size: 18px; }
      .contacts__item--mail a {
        font-size: 16px; }
    .contacts__item {
      font-size: 16px;
      line-height: 25px; }
    .contacts__title {
      font-size: 22px; }
        .footer .container p:first-child {
          bottom: -115px; }
        .footer .container p:last-child {
          bottom: -60px; }
        .footer .container p {
          position: relative;
          padding-top: 0;
          text-align: center; }
      .footer .container {
        display: block; }
    .footer {
      padding-top: 0;
      padding-bottom: 90px; }
    .footer__share {
      margin: 0 auto; }
    .button {
      margin: 0 auto; } }

@media (max-width: 1360px) {
    .swiper-button-prev {
      left: 10px;
      margin-left: auto; }
    .swiper-button-next {
      right: 10px;
      margin-left: auto; } }

@media screen and (max-width: 1200px) {
      .listing__row--title {
        padding: 50px 0; } }

@media screen and (max-width: 767px) {
      .listing__row--title {
        padding: 34px 0 20px 0; } }
