<section class="contacts">
	<div class="container">
		<ul class="contacts__list">
			<li class="contacts__item  contacts__item--adress">
				<p class="contacts__title"> 284 President Street, </p>
				<span> Brooklyn, NY 11231 </span>
			</li>
			<li class="contacts__item  contacts__item--adress">
				<p class="contacts__title"> 389 Sakket Street, </p>
				<span> Brooklyn, NY 11231 </span>
			</li>
			<li class="contacts__item  contacts__item--phone">
				<a href="tel:+9179925052" class="contacts__link"> 917.992.5052 </a>
			</li>
			<li class="contacts__item  contacts__item--mail">
				<a href="mailto:jamie@carrollgardenshouse.com" class="contacts__link"> jamie@carrollgardenshouse.com </a>
			</li>
		</ul>
	</div>
</section>
