<footer class="footer">
  <div class="container">

    <p> Carroll Gardens House. All Rights Reserved. </p>

		<div class="footer__share">
			<p> Share this site </p>
			<ul class="footer__social">
				<li class="footer__social-item">
					<a href="#/"> Facebook </a>
				</li>
				<li class="footer__social-item">
					<a href="#/"> Twitter </a>
				</li>
				<li class="footer__social-item">
					<a href="#/"> Google+ </a>
				</li>
			</ul>
		</div>

		<p> NYC Website Development – Dizzain.com, New York </p>

  </div>
</footer>
