<section class="listing  listing--top">
	<div class="listing__row">
		<div class="container">
			<h2 class="listing__title"> President Street Suites </h2>
			<p> Located on President Street between Court Street and Smith Street, the two main commercial strips in Carroll Gardens/BoCoCa neighborhoods. The subway (F line) is 50 meters away, on the corner. This apartment boasts views of Carroll Park directly across
				the street. </p>
		</div>
	</div>

	<div class="listing__row">
		<article class="product  container">
			<div class="product__img-wrapper">
				<img src="" alt="">
			</div>
			<div class="product__wrapper">
				<h2 class="product__title"> President Suite A </h2>
				<div class="product__table">
					<div class="product__table-col">
						<ul>
							<li> 2 bedrooms </li>
							<li> 2 queen beds </li>
							<li> 1 queen futon </li>
							<li> 5 sleeps </li>
							<li> 900 sf </li>
							<li> the 2nd floor </li>
							<li> private bath </li>
							<li> full kitchen </li>
							<li> dining table </li>
							<li> private outdoor deck </li>
						</ul>
					</div>
				</div>
				<button class="button  button--red" type="button"> Request to Book </button>
				<p class="product__price"> From $245/night 3 nt minimum </p>
			</div>
		</article>
	</div>

	<div class="listing__row">
		<article class="product  container">
			<div class="product__img-wrapper">
				<img src="" alt="">
			</div>
			<div class="product__wrapper">
				<h2 class="product__title"> President Suite B </h2>
				<div class="product__table">
					<div class="product__table-col">
						<ul>
							<li> 2 bedrooms </li>
							<li> 2 queen beds </li>
							<li> 4 sleeps </li>
							<li> 900 sf </li>
							<li> the 2nd floor </li>
							<li> private bath </li>
							<li> full kitchen </li>
							<li> dining table </li>
							<li> private outdoor deck </li>
						</ul>
					</div>
				</div>
				<button class="button  button--red" type="button"> Request to Book </button>
				<p class="product__price"> From $245/night 3 nt minimum </p>
			</div>
		</article>
	</div>
</section>

<section class="listing  listing--bottom">
	<div class="listing__row">
		<div class="container">
			<h2 class="listing__title"> Sackett Street Suites </h2>
			<p> Located on President Street between Court Street and Smith Street, the two main commercial strips in Carroll Gardens/BoCoCa neighborhoods. The subway (F line) is 50 meters away, on the corner. This apartment boasts views of Carroll Park directly across
				the street. </p>
		</div>
	</div>

	<div class="listing__row">
		<article class="product  container">
			<div class="product__img-wrapper">
				<img src="" alt="">
			</div>
			<div class="product__wrapper">
				<h2 class="product__title"> President Suite A </h2>
				<div class="product__table">
					<div class="product__table-col">
						<ul>
							<li> 2 bedrooms </li>
							<li> 2 queen beds </li>
							<li> 1 queen futon </li>
							<li> 5 sleeps </li>
							<li> 900 sf </li>
							<li> the 2nd floor </li>
							<li> private bath </li>
							<li> full kitchen </li>
							<li> dining table </li>
							<li> private outdoor deck </li>
						</ul>
					</div>
				</div>
				<button class="button  button--red" type="button"> Request to Book </button>
				<p class="product__price"> From $235/night 3 nt minimum </p>
			</div>
		</article>
	</div>

	<div class="listing__row">
		<article class="product  container">
			<div class="product__img-wrapper">
				<img src="" alt="">
			</div>
			<div class="product__wrapper">
				<h2 class="product__title"> President Suite B </h2>
				<div class="product__table">
					<div class="product__table-col">
						<ul>
							<li> 2 bedrooms </li>
							<li> 2 queen beds </li>
							<li> 4 sleeps </li>
							<li> 900 sf </li>
							<li> the 2nd floor </li>
							<li> private bath </li>
							<li> full kitchen </li>
							<li> dining table </li>
							<li> private outdoor deck </li>
						</ul>
					</div>
				</div>
				<button class="button  button--red" type="button"> Request to Book </button>
				<p class="product__price"> From $235/night 3 nt minimum </p>
			</div>
		</article>
	</div>
</section>
