<section id="rates" class="listing  listing--top">
	<div class="listing__row  listing__row--title">
		<div class="container">
			<h2 class="title  listing__col-l"> President Street Suites </h2>
			<p class="listing__col-r"> Located on President Street between Court Street and Smith Street, the two main commercial strips in Carroll Gardens/BoCoCa neighborhoods. The subway (F line) is 50 meters away, on the corner. This apartment boasts views of Carroll Park directly across
				the street. </p>
		</div>
	</div>

	<div class="listing__row">
		<article class="container">
			<div class="listing__col-l">
				<img src="img/president-a.png" alt="image">
			</div>
			<div class="listing__col-rf">
				<h2 class="sub-title"> President Suite A </h2>
				<ul class="listing__list">
					<li> 2 bedrooms </li>
					<li> 2 queen beds </li>
					<li> 1 queen futon </li>
					<li> 5 sleeps </li>
					<li> 900 sf </li>
					<li> the 2nd floor </li>
					<li> private bath </li>
					<li> full kitchen </li>
					<li> dining table </li>
					<li> private outdoor deck </li>
				</ul>
				<button class="button  button--red  request" type="button"> Request to Book </button>
				<p class="listing__price"> From $245/night 3 nt minimum </p>
			</div>
		</article>
	</div>

	<div class="listing__row">
		<article class="container">
			<div class="listing__col-l">
				<img src="img/president-b.png" alt="image">
			</div>
			<div class="listing__col-rf">
				<h2 class="sub-title"> President Suite B </h2>
				<ul class="listing__list">
					<li> 2 bedrooms </li>
					<li> 2 queen beds </li>
					<li> 4 sleeps </li>
					<li> 900 sf </li>
					<li> the 2nd floor </li>
					<li> private bath </li>
					<li> full kitchen </li>
					<li> dining table </li>
					<li> private outdoor deck </li>
				</ul>
				<button class="button  button--red  request" type="button"> Request to Book </button>
				<p class="listing__price"> From $245/night 3 nt minimum </p>
			</div>
		</article>
	</div>
</section>

<section class="listing  listing--bottom">
	<div class="listing__row  listing__row--title">
		<div class="container">
			<h2 class="title  listing__col-l"> Sackett Street Suites </h2>
			<p class="listing__col-r"> Located on President Street between Court Street and Smith Street, the two main commercial strips in Carroll Gardens/BoCoCa neighborhoods. The subway (F line) is 50 meters away, on the corner. This apartment boasts views of Carroll Park directly across the street. </p>
		</div>
	</div>

	<div class="listing__row">
		<article class="container">
			<div class="listing__col-l">
				<img src="img/president-a.png" alt="image">
			</div>
			<div class="listing__col-rf">
				<h2 class="sub-title"> President Suite A </h2>
				<ul class="listing__list">
					<li> 2 bedrooms </li>
					<li> 2 queen beds </li>
					<li> 1 queen futon </li>
					<li> 5 sleeps </li>
					<li> 900 sf </li>
					<li> the 2nd floor </li>
					<li> private bath </li>
					<li> full kitchen </li>
					<li> dining table </li>
					<li> private outdoor deck </li>
				</ul>
				<button class="button  button--red  request" type="button"> Request to Book </button>
				<p class="listing__price"> From $235/night 3 nt minimum </p>
			</div>
		</article>
	</div>

	<div class="listing__row">
		<article class="container">
			<div class="listing__col-l">
				<img src="img/president-b.png" alt="image">
			</div>
			<div class="listing__col-rf">
				<h2 class="sub-title"> President Suite B </h2>
				<ul class="listing__list">
					<li> 2 bedrooms </li>
					<li> 2 queen beds </li>
					<li> 4 sleeps </li>
					<li> 900 sf </li>
					<li> the 2nd floor </li>
					<li> private bath </li>
					<li> full kitchen </li>
					<li> dining table </li>
					<li> private outdoor deck </li>
				</ul>
				<button class="button  button--red  request" type="button"> Request to Book </button>
				<p class="listing__price"> From $235/night 3 nt minimum </p>
			</div>
		</article>
	</div>
</section>
