<div class="modal-bg"></div>

<div id="modal_request" class="modal" role="dialog">
	<button class="modal__close"> Close </button>
	<div class="modal__guts" role="document">
		<h2 class="modal__title"> Request to Book </h2>

		<form id="modal_form" class="form" method="post" action="/">

			<div class="form__col">
				<div class="form__unit">
					<label for="name"> Name * </label>
					<input type="text" id="name" name="name" value="" required="" placeholder=" " minlength="3">
				</div>
				<div class="form__unit">
					<label for="mail"> Mail * </label>
					<input type="mail" id="mail" name="e-mail" value="" required="" placeholder=" " minlength="3">
				</div>
				<div class="form__unit">
					<label for="phone"> Phone * </label>
					<input type="tel" id="phone" name="phone" value="" required="" placeholder=" " pattern="^\(?[0-9]{3}\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$">
					<div class="form__error">
						Please enter the full phone number. In the format (xxx)-xxx-xx-xx
					</div>
				</div>
				<div class="form__unit">
					<label class="form__label-date" for="date-in"> Check In </label>
					<input id="date-in" type="eu-date" min="2017-06-10" max="2018-12-31" name="date-in" value="" required="" placeholder="16.04.2015">
				</div>
				<div class="form__unit">
					<label class="form__label-date" for="date-out"> Check Out </label>
					<input id="date-out" type="eu-date" min="2017-06-10" max="2018-12-31" name="date-out" value="" required="" placeholder="25.04.2015">
				</div>
			</div>

			<div class="form__col">
				<div class="form__unit">
					<label class="form__label-select" for="guest"> Guests </label>
					<select name="guest" id="guest">
						<option value=""> 2 adults, 0 children </option>
						<option value=""> 1 adults, 0 children </option>
						<option value=""> 2 adults, 1 children </option>
					</select>
				</div>
				<div class="form__unit">
					<label class="form__label-select" for="suite"> Suite </label>
					<select name="suite" id="suite">
						<option value=""> President Street Suite </option>
						<option value=""> Sackett Street Suite </option>
					</select>
				</div>
				<div class="form__unit">
					<label for="text"> Message </label>
					<textarea id="text" rows="10" cols="50" name="message"></textarea>
				</div>
				<div class="form__unit">
					<button class="form__submit  button  button--gray" type="submit"> Send Message </button>
				</div>
			</div>

		</form>

	</div>
</div>

<!-- <div id="modal_sucsess" class="modal  modal--sucsess" role="dialog">
	<button class="modal__close">
		Close
	</button>
	<div class="modal__guts" role="document">
		<h2 class="modal__title"> Thank you! </h2>
		<p>  </p>
	</div>
</div> -->

<!-- slider -->
<div id="details" class="container" style="display: none;">
	<div class="swiper-gallery">
		<div class="gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/rooms/room-1.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-2.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-3.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-4.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-1.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-2.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-3.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-4.jpg" alt="">
				</div>
			</div>

			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>

		<div class="gallery-thumbs">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/rooms/room-1.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-2.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-3.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-4.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-1.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-2.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-3.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/rooms/room-4.jpg" alt="">
				</div>
			</div>

			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</div>
