<section class="promo  container">

	<div class="promo__row">
		<h2 class="promo__title  title"> Carroll Gardens House is nestled in the heart of Carroll Gardens, one of Brooklyn’s most charming brownstone neighborhoods. </h2>

		<div class="promo__col">
			<p> The apartment is one full floor of a brownstone: approximately 1000 square feet, with full kitchen, private bath, living/dining area, two bedrooms (each with a queen-size bed), small den and private outdoor deck. It's the ideal home base whether your
				visit is for business or pleasure. </p>
			<p> Enjoy the many amenities this wonderful setting has to offer. There are over 100 restaurants and cafes within walking distance, dozens of family-owned shops and local boutiques specializing in everything from children's clothing to housewares, and
				the beautiful Carroll Park directly across the street with 2 playgrounds, a softball field, a bocce court, 5 basketball courts, and a sprinkler in the summer. Our location just half block from the subway couldn't be more convenient as a home base
				from which to explore New York's most popular borough. </p>
		</div>
	</div>

	<div class="promo__row  promo__row--center">
		<div class="promo__table">

			<div class="promo__table-row">
				<div class="promo__table-col"> General </div>
				<div class="promo__table-col">
					Air Conditioning:
					<span> window a/c units </span>
					Hair Dryer
				</div>
				<div class="promo__table-col">
					Iron & Board
					<br> Linens Provided
					<br> Free WiFi
				</div>
				<div class="promo__table-col">
					Living Room
					<br> Sofa Bed
				</div>
			</div>

			<div class="promo__table-row">
				<div class="promo__table-col"> Kitchen </div>
				<div class="promo__table-col">
					4 burner Gas
					<br> Stovetop
					<br> Coffee Maker:
					<span> Keurig and Drip model </span>
					Cooking Utensils
				</div>
				<div class="promo__table-col">
					Dishes & Utensils
					<br> Dishwasher
					<br> Ice Maker
				</div>
				<div class="promo__table-col">
					Microwave
					<br> Oven
					<br> Refrigerator
				</div>
			</div>
		</div>

		<button id="details" class="button  button--full" type="button"> Expand Details </button>

	</div>
</section>
