<section class="reviews  container">
	<ul class="reviews__list">

		<li class="reviews__item">
			<div class="reviews__user">
				<div class="reviews__user-img">
					<img src="" alt="">
				</div>
				<p class="reviews__user-name"> highcountrytraveler2 </p>
				<span class="reviews__user-info"> White River Junction, Vermont, United States </span>
			</div>
			<div class="reviews__content">
				<h2 class="reviews__title"> “Perfect family location in Brooklyn” </h2>
				<div class="reviews__rate"></div>
				<p class="reviews__text">
					My husband and I used to live in this neighborhood over a decade ago. So, when returning to the city (with our two girls, ages 5 and 7, in tow), we wanted to stay in a place that reminded us of everything we loved about our old home (The high ceilings!
					The hardwood floors! The huge windows! The city views!)....
				</p>
				<div class="reviews__marker">
					<img src="" alt="">
				</div>
			</div>
		</li>

		<li class="reviews__item">
			<div class="reviews__user">
				<div class="reviews__user-img">
					<img src="" alt="">
				</div>
				<p class="reviews__user-name"> Tiggy and Wilf </p>
				<span class="reviews__user-info"> Keynsham (near Bath) England </span>
			</div>
			<div class="reviews__content">
				<h2 class="reviews__title"> “Clean, Comfortable, Spacious” </h2>
				<div class="reviews__rate"></div>
				<p class="reviews__text">
					We stayed here for 3 nights. It was clean, roomy and comfortable. The window unit air conditioners kept us cool in the evenings. The beds were soft and comfortable. The neighborhood is beautiful with a nice park and we found the people to be very friendly.
					We always felt safe when walking around there. We were amazed at the number...
				</p>
				<div class="reviews__marker">
					<img src="" alt="">
				</div>
			</div>
		</li>
	</ul>

	<div class="reviews__more">
		<h3 class="reviews__more-title"> View more reviews on: </h3>
		<ul class="reviews__more-list">
			<li class="reviews__more-item">
				<img src="" alt="">
			</li>
			<li class="reviews__more-item">
				<img src="" alt="">
			</li>
		</ul>
	</div>

</section>
