<section class="swiper">
	<div class="swiper-container  container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<h2 class="swiper-title"> Carroll Gardens House </h2>
			</div>
			<div class="swiper-slide">
				<h2 class="swiper-title"> Carroll Gardens House </h2>
			</div>
			<div class="swiper-slide">
				<h2 class="swiper-title"> Carroll Gardens House </h2>
			</div>
		</div>

		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

	</div>
</section>
