.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.icon-arrow-next {
	font-size:(478.5/10)*1rem;
	width:(254.7/478.5)*1em;
}
.icon-arrow-prev {
	font-size:(478.5/10)*1rem;
	width:(254.8/478.5)*1em;
}
.icon-facebook {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-google-plus {
	font-size:(35/10)*1rem;
	width:(35/35)*1em;
}
.icon-mail {
	font-size:(10/10)*1rem;
	width:(14/10)*1em;
}
.icon-phone {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-star {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-twitter {
	font-size:(341.17/10)*1rem;
	width:(412.5/341.17)*1em;
}
