// colors
$color_body: #464646;
$color_link: rgba(181, 185, 190, 1);
$color_link_hover: rgba(188, 187, 195, 1);

$color_label: #4c4c4c;
$color_field_border: rgb(202, 202, 202);
$color_field_hover: rgba(225, 222, 222, 1);

$gray_dark: #5b5b5b;
$gray_darker: #6a6f76;
$gray: #999999;
$gray_lighter: #b8c0c9;
$gray_light: #cacaca;
$gray_lightest: #f5f5f5;

$red: #ff5a5f;

// shadow
$color_shadow: rgba(76, 76, 76, 0.75);
$img-shadow: 2px 2px 5px $color_shadow;

// fonts
$font_1: "Raleway", "Arial", sans-serif;
$font_2: "Open Sans", "Arial", sans-serif;

// media queries
$mobile: 320px;
$mobile_full: 480px;

$tablet: 767px;
$tablet_full: 992px;

$desktop: 1200px;
